x-app-env: &app-env
  JWT_SECRET: ${JWT_SECRET}
  DATABASE_USER: ${DATABASE_USER}
  DATABASE_PASSWORD: ${DATABASE_PASSWORD}
  DATABASE_NAME: ${DATABASE_NAME}
  DATABASE_HOST: database
  DATABASE_PORT: ${DATABASE_PORT}

services:
  backend:
    build: .
    environment:
      <<: *app-env
    ports:
      - "8000:8000"
    depends_on:
      database:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
    restart: always
    command: [ "uv", "run", "start" ]

  migrate:
    build: .
    environment:
      <<: *app-env
    depends_on:
      database:
        condition: service_healthy
    restart: "no"
    command: [ "uv", "run", "python", "-m", "alembic", "upgrade", "head" ]

  database:
    image: postgres:15
    environment:
      - POSTGRES_USER=${DATABASE_USER}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      - POSTGRES_DB=${DATABASE_NAME}
    ports:
      - "${DATABASE_PORT}:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DATABASE_USER} -d ${DATABASE_NAME}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
